@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viaoda+Libre&display=swap');

.navbar{
    width: 100%;
    background-color: #FFFDF3;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div-logo{
    height: 41px;
    display: inline;
    width: 200px;
}

.logo{
    margin: 0px;
    padding: 0px;
    font-family: "Viaoda Libre", serif;
    font-size: 50px;
}

.div_navegar{
    width: 570px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.div_navegar a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 500;
}

.div_navegar a:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
    font-weight: 700;
}

.div_icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.div_icons button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.div_icons button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.icons:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.2s;
}


/* ------------------------------------------------------- */

.carrinho_box{
    width: 1105px;
    height: 670px;
    position: absolute;
    top: 70px;
    right: 230px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.carrinho_div{
    background-color: red;
    width: 1100px;
    border-radius: 5px;
    height: 640px;
    position: absolute;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

