@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viaoda+Libre&display=swap');

.barraDb{
    background-color:#F9F1E7;
    height: 70px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    justify-content: end;
}

.perfil-completo{
    margin-left: 30px;
    display: flex;
    margin-right: 42px;

    
}
.pesquisa{
    align-items: center;
    display: flex;
}
.img-perfil{
    background-color: aquamarine;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.texto-perfil{
    font-family: "Poppins", sans-serif;
    color: #333333;
}
.nome{
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.tipo{
    display: block;
    font-size: 12px;
    font-weight: 500;

}
