@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    width: 100%;
    background-color: #FFFDF3;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div-logo{
    height: 41px;
    display: inline;
    width: 200px;
}

.logo{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
}

.logo:hover{
    cursor: pointer;
}

.div_navegar{
    width: 570px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.div_navegar a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 500;
}

.div_navegar a:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
    font-weight: 700;
}

.div_icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.button_entrar{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.button_entrar:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.button_icons:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.2s;
}


/* ------------------------------------------------------- */

.carrinho_box{
    width: 1000px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 5px;
    display: inline-block;
}

.carrinho_div{
    margin-top: 20px;
    background-color: #FFFDF3;
    width: 1000px;
    max-height: 500px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow: auto;
}

.carrinho_inside_box{
    border-bottom: 2px solid #D9D9D9;
    width: 946px;
    height: 170px;
    margin: 20px auto; 
    display: flex;
}

.carrinho_inside_div{
    width: 1046px;
    height: 144px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrinho_detalhes_quadro{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrinho_quadro_precos{
    height: 100%;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.carrinho_quadro_precos span{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.carrinho_select{
    background-color: white;
    width: 320px;
    height: 42px;
    color: #999999;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
}

.carrinho_select:focus{
    outline: none;
}

.carrinho_select:hover{
    cursor: pointer;
}

.carrinho_div_adicionar_remover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.carrinho_div_adicionar_remover button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.carrinho_div_adicionar_remover button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.carrinho_diminuir_produto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #333333;
}

.carrinho_diminuir_produto div{
    width: 16px;
    border: 1px solid #333333;
}

.carrinho_aumentar_produto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border: 1px solid #333333;
}

.carrinho_aumentar_produto img{
    width: 16px;
    height: 16px;
}

.carrinho_div_adicionar_remover span{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.carrinho_image_lixo{
    color: red;
    border: 1px solid red;
    background-color: transparent;
}



.carrinho_fundo_img{
    width: 144px;
    height: 144px;
    background-color: #F1DDC9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrinho_fundo_img img{
    width: 100px;
}

.carrinho_informacoes{
    width: 351px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.carrinho_informacoes h2{
    width: 351px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}

.carrinho_informacoes_preco_normal{
    font-family: 'Taviraj', serif;
    text-decoration: line-through;
    color: red;
    font-size: 16px;
}

.carrinho_informacoes_preco_promocao{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.carrinho_tipo_moldura{
    color: #555555;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.carrinho_tipo_categoria{
    color: #555555;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.carrinho_box_total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 946px;
    margin:25px auto;
}

.carrinho_box_cupom_subtotal{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrinho_div_cupom_brasil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinho_div_cupom_brasil span{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.carrinho_div_brasil{
    margin-left: 70px;
}

.carrinho_div_brasil input{
    width: 255px;
    height: 42px;
    background-color: white;
    color: #999999;
    border: 1px solid #999999;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.carrinho_div_brasil input:focus{
    outline: none;
}

.carrinho_div_brasil span{
    color: #01522D;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 16px;
}

.carrinho_div_desconto_subtotal{
    display: flex;
    flex-direction: column;
    width: 260px;
}

.carrinho_div_desconto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrinho_span_desconto{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.carrinho_span_preco_normal{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: red;
    text-decoration: line-through;
}

.carrinho_div_subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrinho_span_subtotal{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.carrinho_span_preco_promocao{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-weight: 500;
}

.carrinho_box_total button{
    height: 60px;
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #0CADA7;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.carrinho_box_total button:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.2s;
}

.carrinho_numeros_quadros{
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carrinho_numeros_quadros button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.carrinho_numeros_quadros button:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.2s;
}

.carrinho_numeros_quadros span{
    background: transparent;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    width: 30px;
    height: 40px;
    text-align: center;
    border: none;
}

.carrinho_numeros_quadros input[type="number"]::-webkit-inner-spin-button,
.carrinho_numeros_quadros input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.carrinho_numeros_quadros input:focus{
    outline: none;
}

.button_icons{
    border: none;
    background: transparent;
    position: relative;
}

.notificacao_item_carrinho{
    background: rgb(255, 72, 72);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.notificacao_item_carrinho span{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}