.home_container{
    background-color: #FFFDF3;
}

.home_box_vamos_decorar{
    height: 660px;
    background-color: #C8B2A4;
    display: flex;
    flex-direction: row;
}

.home_div1_vamos_decorar{
    height: 660px;
    width: 49%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home_div1_vamos_decorar img{
    width: 700px;
}

.home_div2_vamos_decorar{
    height: 660px;
    width: 51%;
    background-image: url(../img/image_home_cores.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: top right;
    background-position-x: calc(100% + 22px);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.home_div2_inside_div{
    width: 700px;
    height: 500px;
}

.home_div2_inside_div h1{
    display: inline-block;
    font-size: 96px;
    font-family: 'Taviraj', serif;
    margin: 0;
    padding-bottom: 30px;
    height: 81px;
    width: 600px;
}

.home_vamos_decorar_primeiro_h1{
    font-weight:600;
}

.home_vamos_decorar_segundo_h1{
    font-weight: normal;
    color: #333333;
}

.home_vamos_decorar_linha1{
    margin-left: 10px;
    width: 95px;
    border: 1px solid #0CADA7;
    margin-top: 20px;
}

.home_div2_inside_div p{
    width: 450px;
    color: #333333;
    margin: 0;
    padding: 10px;
    font-size: 40px;
    display: inline-block;
}

.home_vamos_decorar_linha2{
    margin-left: 50px;
    margin-top: 10px;
    width: 95px;
    border: 1px solid #0CADA7;
}

.home_div2_inside_div button{
    width: 208px;
    height: 60px;
    background-color: #0CADA7;
    border: none;
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-left: 10px;
}

.home_div2_inside_div button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.home_div_seguranca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1290px;
    margin: 118px auto;
}

.home_img_frete_gratis{
    width: 426px;
    height: 90px;
}

.home_img_compra_segura{
    width: 379px;
    height: 96px;
}

.home_img_sem_juros{
    width: 334px;
    height: 90px;
}

.home_div_text_quadro_descontos h2{
    background-color: #FFFDF3;
    width: 900px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 100px;
    margin-left: 196px;
}   

.home_quadros_linha{
    width: 128px;
    border: 1px solid black;
}

.home_box_artista_semana{
    height: 720px;
    background-color: #F1DDC9;
    display: flex;
    align-items: end;
    justify-content: center;
}

.home_div_artista_semana{
    width: 1510px;
    height: 624px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home_div_artista_semana img{
    width: 861px;
    height: 624px;
}

.home_informacoes_artista_semana{
    width: 464px;
    height: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_informacoes_artista_semana h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0 auto;
}

.home_foto_artista_semana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_foto_artista_semana img{
    width: 150px;
    height: 164px;
    margin: 20px auto;
}

.home_foto_artista_semana h2{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: 1px solid black;
    margin-bottom: 10px;
}

.home_foto_artista_semana p{
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    color: #777777;
    margin:0;
    padding: 0;
    display: inline-block;
}

.home_foto_artista_semana button{
    width: 208px;
    height: 60px;
    background-color: #0CADA7;
    border: none;
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: 60px;
}

.home_foto_artista_semana button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.home_box_navegue_categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_box_navegue_categorias h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin: 100px auto;
    padding: 0 auto;
    display: inline-block;
}

.home_div_navegue_categorias{
    width: 1215px;
    height: 686px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px;
}

.home_navegue_categorias{
    width: 165px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.home_navegue_categorias:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.home_navegue_categorias h3{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #6C6B6A;
    font-weight: 500;
}

.home_categorias_linha{
    width: 65px;
    border: 1px solid #000000;
    margin: 0 auto;
}

.home_molde_quadro_claro{
    width: 165px;
    height: 226px;
    background-color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_molde_quadro_claro img{
    width: 137px;
    height: 181px;
}

.home_molde_quadro_escuro{
    width: 165px;
    height: 226px;
    background-color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_box_navegue_categorias button{
    width: 208px;
    height: 60px;
    background-color: #0CADA7;
    border: none;
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: 80px;
    margin-bottom: 100px;
}

.home_box_navegue_categorias button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.home_box_comentarios_clientes{
    background-color: #F1DDC9;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/image_home_linhas_comentarios.png);
    background-repeat: repeat-x;
    background-size: 438px;
    background-position:bottom;
}

.home_div_comentarios_clientes{
    width: 1600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_div_comentarios_clientes h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0 auto;
}

.home_div_inside_comentarios{
    width: 1600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_div_comentario{
    width: 500px;
    height: 400px;
}

.home_image1_comentarios_clientes,
.home_image2_comentarios_clientes,
.home_image3_comentarios_clientes{
    width: 323px;
    height: 313px;
    position: absolute;
    z-index: 0;
}

.home_image1_comentarios_clientes{
    background-image: url(../img/image_leao_home_comentario.png);
    background-position: center;
}

.home_image2_comentarios_clientes{
    background-image: url(../img/image_leao_home_comentario.png);
    background-position: center;
}

.home_image3_comentarios_clientes{
    background-image: url(../img/image_sala_home_comentario.png);
    background-position: center;
}

.home_text1_comentario_clientes,
.home_text2_comentario_clientes,
.home_text3_comentario_clientes{
    width: 315px;
    height: 180px;
    position: absolute;
    z-index: 1;
    margin-top: 220px;
    margin-left: 185px;
    background-image: url(../img/image_home_background_comentarios.png);
    background-size: cover;
    border-radius: 30px;
    box-shadow: -5px 5px 0px 0px rgba(50, 89, 23, 1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home_comentario_nome_dia{
    display: inline-block;
    margin: 10px 10px 10px 20px;
}

.home_comentario_nome_dia h3{
    margin: 0;
    font-size: 25px;
    display: inline;
    font-weight: 500;
}

.home_comentario_nome_dia span{
    display: block;
    color: #777777;
    font-size: 16px;
}

.home_text1_comentario_clientes p,
.home_text2_comentario_clientes p,
.home_text3_comentario_clientes p{
    margin: 0 auto 20px 30px;
    padding: 0;
    font-size: 17px;
    width: 250px;
    justify-content: center;
    text-align: center;
}

.home_text1_comentario_clientes img{
    width: 55px;
    height: 57px;
}








